<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>My Web Application</display-name>
    <!-- Define servlets -->
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <servlet-class>controller.LoginCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCustomerServlet</servlet-name>
        <servlet-class>controller.LogoutCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileCustomerServlet</servlet-name>
        <servlet-class>controller.ChangeProfileCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDCarServlet</servlet-name>
        <servlet-class>controller.CRUDCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <servlet-class>controller.ServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <servlet-class>controller.CreateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarInvoiceServlet</servlet-name>
        <servlet-class>controller.SearchCarInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServiceTicket</servlet-name>
        <servlet-class>controller.ViewServiceTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInvoiceServlet</servlet-name>
        <servlet-class>controller.CustomerInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailServlet</servlet-name>
        <servlet-class>controller.CarDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <servlet-class>controller.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controller.UpdateServiceTicketServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <servlet-class>controller.SearchServiceTicketServlet</servlet-class>
    </servlet>
    

    <!-- New servlets to be added -->
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePartServlet</servlet-name>
        <servlet-class>controller.CreatePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCarPartServlet</servlet-name>
        <servlet-class>controller.FindCarPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarByNameServlet</servlet-name>
        <servlet-class>controller.SearchCarByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceByNameServlet</servlet-name>
        <servlet-class>controller.SearchServiceByNameServlet</servlet-class>
    </servlet>
    <!-- Define servlet mappings -->
    <servlet>
        <servlet-name>CRUDServiceServlet</servlet-name>
        <servlet-class>controller.CRUDServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/LoginStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <url-pattern>/LoginCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileCustomerServlet</servlet-name>
        <url-pattern>/ChangeProfileCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDCarServlet</servlet-name>
        <url-pattern>/CRUDCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketServlet</servlet-name>
        <url-pattern>/ServiceTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <url-pattern>/CreateInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarInvoiceServlet</servlet-name>
        <url-pattern>/SearchCarInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServiceTicket</servlet-name>
        <url-pattern>/ViewServiceTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInvoiceServlet</servlet-name>
        <url-pattern>/CustomerInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailServlet</servlet-name>
        <url-pattern>/CarDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/AddCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePartServlet</servlet-name>
        <url-pattern>/CreatePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCarPartServlet</servlet-name>
        <url-pattern>/FindCarPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarByNameServlet</servlet-name>
        <url-pattern>/SearchCarByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerServlet</servlet-name>
        <url-pattern>/UpdateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceByNameServlet</servlet-name>
        <url-pattern>/SearchServiceByNameServlet</url-pattern>
    </servlet-mapping>
    <!-- Session Configuration -->
    <servlet-mapping>
        <servlet-name>CRUDServiceServlet</servlet-name>
        <url-pattern>/CRUDServiceServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>SearchServiceTicketServlet</servlet-name>
        <url-pattern>/SearchServiceTicketServlet</url-pattern>
    </servlet-mapping>
    

    <!-- Session Configuration -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>CustomerDashboardPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
