<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FindCarPartServlet</servlet-name>
        <servlet-class>controller.FindCarPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePartServlet</servlet-name>
        <servlet-class>controller.UpdatePartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePartCarServlet</servlet-name>
        <servlet-class>controller.CreatePartCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarPartServlet</servlet-name>
        <servlet-class>controller.DeleteCarPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticCarSoldByYearServlet</servlet-name>
        <servlet-class>controller.StaticCarSoldByYearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticBestUsedPartServlet</servlet-name>
        <servlet-class>controller.StaticBestUsedPartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThreeMechanicServlet</servlet-name>
        <servlet-class>controller.ThreeMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controller.UpdateServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticCarRevenueByYearServlet</servlet-name>
        <servlet-class>controller.StaticCarRevenueByYearServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellingCarModelServlet</servlet-name>
        <servlet-class>controller.BestSellingCarModelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceMechanicServlet</servlet-name>
        <servlet-class>controller.UpdateServiceMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceByNameServlet</servlet-name>
        <servlet-class>controller.SearchServiceByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatServiceServlet</servlet-name>
        <servlet-class>controller.UpdatServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServiceServlet</servlet-name>
        <servlet-class>controller.CreateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerInvoiceServlet</servlet-name>
        <servlet-class>controller.CustomerInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailServlet</servlet-name>
        <servlet-class>controller.CarDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindCarPartServlet</servlet-name>
        <url-pattern>/FindCarPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePartServlet</servlet-name>
        <url-pattern>/UpdatePartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePartCarServlet</servlet-name>
        <url-pattern>/CreatePartCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarPartServlet</servlet-name>
        <url-pattern>/DeleteCarPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticCarSoldByYearServlet</servlet-name>
        <url-pattern>/StaticCarSoldByYearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticBestUsedPartServlet</servlet-name>
        <url-pattern>/StaticBestUsedPartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThreeMechanicServlet</servlet-name>
        <url-pattern>/ThreeMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticCarRevenueByYearServlet</servlet-name>
        <url-pattern>/StaticCarRevenueByYearServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellingCarModelServlet</servlet-name>
        <url-pattern>/BestSellingCarModelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceMechanicServlet</servlet-name>
        <url-pattern>/UpdateServiceMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceByNameServlet</servlet-name>
        <url-pattern>/SearchServiceByNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatServiceServlet</servlet-name>
        <url-pattern>/UpdatServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/DeleteServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServiceServlet</servlet-name>
        <url-pattern>/CreateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerInvoiceServlet</servlet-name>
        <url-pattern>/CustomerInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailServlet</servlet-name>
        <url-pattern>/CarDetailServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
